<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>아이디 찾기</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">가입한 아이디 찾기</h1>

            <script>
                let FindIdAsUsername__submitDone = false;

                function FindIdAsUsername__submit(form) {
                    if (FindIdAsUsername__submitDone) {
                        return;
                    }

                    form.email.value = form.email.value.trim();

                    if (form.email.value.length == 0) {
                        warningModal("이메일을 올바르게 입력해주세요.");
                        form.email.focus();

                        return;
                    }

                    form.submit();
                    FindIdAsUsername__submitDone = true;
                }
            </script>

            <form th:action="@{/member/findUsername}" method="POST" class="flex flex-col gap-3"
                  onsubmit="FindIdAsUsername__submit(this); return false;">

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">이메일</span>
                    </label>
                    <input type="email" name="email" placeholder="이메일" class="input input-bordered" maxlength="50">
                </div>

                <div class="mt-2">
                    <input class="btn btn-secondary btn-outline w-[100%]" type="submit" value="아이디 찾기">
                </div>
            </form>

        </div>

    </section>
</main>
</body>
</html>